version: 2
updates:
  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "16:00"
    cooldown:
      default-days: 7
    open-pull-requests-limit: 5
