@keyframes highlight {
  0% {
    background: rgba(200, 66, 113, 0.4);
  }
  80% {
    background: rgba(200, 66, 113, 0.1);
  }
  100% {
    background: rgba(200, 66, 113, 0);
  }
}

:target {
  scroll-margin-top: 120px;
  animation: highlight 3s ease-in-out forwards;
  background: rgba(200, 66, 113, 0.2);
}
