@keyframes highlight {
  0% {
    outline: 2px solid rgba(21, 43, 104, 100);
  }

  100% {
    outline: 2px solid rgba(21, 43, 104, 0);
  }
}

:target {
  scroll-margin-top: 120px;
  animation: highlight 4s ease-in-out forwards;
  border-radius: 3px;
  outline-offset: 4px;
}
